body,html{
  background-color: transparent;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #000;
}
.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(104, 4, 52) 50%,rgb(0, 0, 0) 100%); 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 1.5% 0;
  position: static;
  top:0;
  height: 1vh;
  z-index: 30;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  font-size: 24px;

}

.App-header nav li a, .App-header nav li a:visited{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5% 1%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  
}
.App-header nav a:hover{
  color: black;
  transition: all;
  transition-duration: 1s;
}
@keyframes nav-appear {
  from {
    font-size: 0px;
  }
  to {
    font-size: 24px;
  }
}

.App main.main-container{
  background-color: black;
  position: relative;
  padding: 5% 0;
  /* grid-template-columns: 1fr 4fr 1fr; */
}


.main-center{
  /* border:1px snow solid; */
  width: 100%;
}
.main-left, .main-right{
  position: relative;
  background-color: #000;
}
.animation-border-verticle{
  border-left: 2px rgb(128, 0, 62) solid;
  animation-name: border-animation;
  animation-duration: 2s;
  position: absolute;
  top: 0;
  right:0px;
  width: 1px;  
  height: 100%;
}
.animation-border-verticle.left{
  left: 0;
}

@keyframes border-animation {
  from {    
    height: 0px;
    border-color: white;
  }
  to {
    height: 100%;
    border-color: rgb(128, 0, 62);
  }
}

.border-b{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  /* position: relative; */
  z-index: 40;
}
.border-b div{
  position: relative;
}
.animation-border-horizontal{
  /* width: 100%; */
  padding-right: 100%;
  position: absolute;
  right:0;
  background-color: transparent;
  min-height: 2px;
  border-top:2px solid rgb(128, 0, 62);
  display: none;
  animation-name: footer-border-left;
  animation-duration: 2s;
}
.right-animation-border{
  display: none;
  position: absolute;
  left:0;
  background-color: transparent;
  padding-left: 100%;
  min-height: 2px;
  border-top:2px solid rgb(128, 0, 62);
  animation-name: footer-border-right;
  animation-duration: 2s;
}

@keyframes footer-border-left {
  from {    
    padding-right: 0%;
    border-top:2px solid white;


  }
  to {
    padding-right: 100%;
    border-top:2px solid rgb(128, 0, 62);


  }
}
@keyframes footer-border-right {
  from {    
    padding-left: 0%;
    border-top:2px solid white;
  }
  to {
    padding-left: 100%;
    border-top:2px solid rgb(128, 0, 62);
  }
}

.main-wrapper{
  padding:10px;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.main-center{
  background: #000;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* animation: main-center-anima; */
  animation-duration: 2s;
  /* grid-gap: 10px; */
  /* height: 100%; */
}
@keyframes main-center-anima {
  from { 
    grid-gap: 0px;
  } to {    
    /* grid-gap: 10px; */
    /* height: 100%; */
  } 
}

.main-center .box-item:hover{
  box-shadow: 0px 0px 10px rgb(174, 130, 145);
  cursor: pointer;
  transition: all;
  transition-duration: .3s;
}

.main-center .box-item{
  padding: 0%;
  transition: all;
  transition-duration: 1;
  color: #fff;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgb(128, 0, 62) 100%); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  z-index: 20;
  margin:  20px;
  border-radius: 10px;
}
@keyframes add-margin {
  from{margin: 0;}
  to{margin: 2px;}
}
.box-content{
  display: block;
  width: 100%;
  height: 300px;
  background: rgb(2,0,36);
  background-color: transparent;
  animation-duration:1s;
}



@media only screen and (max-width: 1200px) {
  /* .main-center{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  } */
}


@media only screen and (max-width: 1000px) {
  /* .main-center{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
}

@media only screen and (max-width: 800px) {
  .main-wrapper{
    width: 90%;    
  }
  /* .main-center,.App main.main-container {
    grid-template-columns: 1fr;  
  } */
  .animation-border-verticle{
    display: none;
  }
  .main-wrapper{
    margin: 0 auto;
  }

  .border-b{
    display: none;
  }
  header{
    border-bottom:rgb(128, 0, 62) 2px solid;
  }
}

.main-center .box-item h2{
  color: white;
  
  width: 90%;
  padding: 2% 0;
  border-radius: 10px;
}


.special-bg{
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgb(128, 0, 62) 100%); 
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 10;
  top:0;
  left: 0;
  animation: special-bg 2s;
  overflow:hidden;
}

@keyframes special-bg {
  from {
    height: 0%;
  }to{
    height: 100%;
  }
}
#projectList h1{
  color: white;
  font-size: 60px;
  text-shadow: 0 0 13px rgb(126, 157, 237);
  padding: 6% 0 0;
}
footer > .app-footer{
  position: relative; 
  background-color: #000;
  padding: 2% 0;
}
footer span{
  padding: 30px;
  display: block;
  color: white;
}
.app-footer{
  overflow: hidden;
  display: block;
  background-color: black;
  color: #fff;
}

.App-header{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.topOne{
  position: absolute;
  bottom: 0px;
  z-index: 30;
}