/* .introBanner{
  
} */
h1{
  color:black;
  text-shadow: 0 0 14px rgb(135, 102, 128);
  font-size: 12vh;
  text-align: center;
  line-height: 50vh;
  /* animation: fade-in 2s; */
}
@keyframes fade-in {
  from{opacity: 0;font-size: 9px;}
  to{opacity: 100;font-size: 12vh;}
}